/monte_carlo_methods/racetrack/oop_version/__pycache__
/monte_carlo_methods/racetrack/fop_version/__pycache__
/monte_carlo_methods/racetrack/oop_version/__pycache__
/monte_carlo_methods/racetrack/oop_version/racetrack.log
/monte_carlo_methods/racetrack/oop_version/racetrack_gifs
